name: Update Homebrew Formula
on:
  push:
    tags:
        - '*'
jobs:
  homebrew:
    runs-on: macos-latest
    steps:
      - uses: dawidd6/action-homebrew-bump-formula@v3
        with:
          token: ${{ secrets.HOMEBREW_GITHUB_API_TOKEN }}
          formula: rad
          tap: AlexanderTerp/rad
